= bootstrap_form_for @<%= singular_table_name %>, html: { multipart: true }, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
  = hidden_field_tag :return_to, params[:return_to]
  - if @<%= singular_table_name %>.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{:type => "button", :data => {:dismiss => "alert"} }
        %span{:aria => {:hidden => "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"

      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
  = f.form_group do
    = f.primary
