.page-header
  %span.pull-right
    - if params[:return_to]
      = link_to params[:return_to], :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        =t('.back', :default => t("helpers.links.back"))
    - else
      = link_to <%= index_helper %>_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
        =t('.back', :default => t("helpers.links.back"))
    = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      =t('.edit', :default => t("helpers.links.edit"))
  %h1= t '.title', default: [t("helpers.links.show", default: "Show"), <%= class_name %>.model_name.human].join(' ')


%dl.dl-horizontal
  <%- for attribute in attributes -%>
  %dt= t(".<%= attribute.name %>", default: <%= class_name %>.human_attribute_name(:<%= attribute.name %>))
  %dd= @<%= singular_table_name %>.<%= attribute.name %>
  <%- end -%>
